 <!-- START FEATURE -->
    <section id="feature" class="our_offer section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="section-title">
            <h2>Monalisa <span>Features</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <% @massages.each do |m| %>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single_offer">
              <div class="single_offer_img">
                <%= image_tag("service_1.jpg", class: "img-responsive")%>
              </div>
              <h4><%= m.nom %></h4>
              <h5><%= m.temps %> min</h5>
              <h5><%= m.prix %> €</h5>
              <%= link_to "Read More", massage_path(@massage) , class: 'btn btn-default btn-feature-bg' %>

            </div>
          </div><!-- END COL -->
          <% end %>

        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END FEATURE -->
     <!-- START HOW IT WORKS -->
    <section data-stellar-background-ratio="0.3" id="how_it_works" class="about_video bgvideo" style="">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="video-container">
              <h3>How it works</h3>
              <a data-toggle="modal" data-target="#video-modal" data-backdrop="true">
              <span class="play-video"><span class="fa fa-play"></span></span></a>
            </div>
            <!-- VIDEO POPUP -->
            <div class="modal fade video-modal" id="video-modal" role="dialog">
              <div class="modal-content">
                <iframe width="712" height="400" src="https://www.youtube.com/embed/EWan2YcodSM"></iframe>
              </div>
            </div>
            <!-- END VIDEO POPUP -->
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END HOW IT WORKS -->
