

<body data-spy="scroll" data-offset="80">

    <!-- START PRELOADER -->
    <!-- <div class="preloader"> -->
    <!--   <div class="status">
        <div class="status-mes"><h4>Monalisa</h4></div>
      </div>
    </div> -->
    <!-- END PRELOADER -->



    <!-- START YOUTUBE HOME -->
    <section id="home" class="youtube_bg" style="background-image: url(/assets/images/bg/youtube-bg.jpg);  background-size:cover; background-position: center center;">
      <a class="player" data-property="{ videoURL:'https://youtu.be/f7MskKkn2Jg',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}">
      </a>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="home_text">
                <h2 class="animated fadeInDownBig">Welcome our Monalisa</h2>
                <p class="animated fadeInLeftBig">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
                <a data-scroll class="btn btn-default btn-light-bg animated fadeInUpBig page-scroll" href="#about">Learn More</a>
                <a data-scroll class="btn btn-default btn-light-bg-two animated fadeInRightBig page-scroll" href="#">Purchase now</a>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END YOUTUBE HOME DESIGN -->

    <!-- START ABOUT US -->
    <section id="about" class="about-us section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about_img">
              <%= image_tag("about.jpg", class: "img-responsive")%>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-us-content">
              <h2>About our <span>Monalisa</span></h2>
              <div class="about-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum.</p>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END ABOUT US -->

    <!-- START WHY CHOOSE US -->
    <section class="why_choose_us section-padding">
      <div class="container">
        <div class="row">
          <div class="section-title text-center wow zoomIn">
            <h2>Why Choose <span>Monalisa</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div id="why_choose">
              <!-- Wrapper for slides -->
              <div class="row ">
                <div class="col-sm-6">
                  <div class="single_feature">
                    <i class="fa fa-leaf"></i>
                    <h3>Natural Atmosphere</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                  </div>
                </div><!-- END col-sm-6 -->
                <div class="col-sm-6">
                  <div class="single_feature">
                    <i class="fa fa-heart-o"></i>
                    <h3>Beautiful &amp; Sexy life</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                  </div>
                </div><!-- END col-sm-6 -->
                <div class="col-sm-6">
                  <div class="single_feature">
                    <i class="fa fa-spinner"></i>
                    <h3>Cost effectiveness</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                  </div>
                </div><!-- END col-sm-6 -->
                <div class="col-sm-6">
                  <div class="single_feature">
                    <i class="fa fa-lemon-o"></i>
                    <h3>Xoss Environment</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                  </div>
                </div><!-- END col-sm-6 -->
              </div><!-- END CAROUSEL INNER -->
            </div><!-- END CAROUSEL SLIDE -->
          </div><!--- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="feature_img">
              <%= image_tag("man.jpg")%>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END WHY CHOOSE US -->

    <!-- START COUNT DOWN DESIGN -->
    <section  id="counter_item" class="counter section-padding" style="background-image: url(assets/img/bg/counter-bg.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
      <div class="container">
          <div class="row count text-center">
          <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="timer">
              <h2 class="time_counter">140</h2>
              <p class="counter_title">Awards won</p>
            </div>
          </div><!--- END COL -->
          <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="timer">
              <h2 class="time_counter">182</h2>
              <p class="counter_title ">Our Clients</p>
             </div>
          </div><!--- END COL -->
          <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="timer">
              <h2 class="time_counter">110</h2>
              <p class="counter_title">Trainers</p>
            </div>
          </div><!--- END COL -->
          <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="timer">
              <h2 class="time_counter">67</h2>
              <p class="counter_title">Treatment</p>
            </div>
          </div><!--- END COL -->
          </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
     </section>
    <!-- END COUNT DOWN DESIGN -->

    <!-- START PORTFOLIO -->
    <section id="gallery" class="works_area section-padding">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="section-title wow zoomIn">
            <h2>Monalisa <span>Gallery</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/1.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/1.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Body Message</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/2.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/2.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Body Message</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/3.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/3.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Body Message</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/4.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/4.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Skin care</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/5.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/5.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Skin care</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/6.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/6.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Hair Cut</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/7.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/7.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Beauty Spa</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
          <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="grid">
              <figure class="effect-apollo">
                <%= image_tag("portfolio/8.jpg", class: "img-responsive")%>
                <figcaption>
                  <a class="prettyPhoto image_zoom" href="assets/img/portfolio/8.jpg"></a>
                  <p><a href="single_project.html" data-toggle="modal" data-target="#projectModal">Nail Care</a></p>
                </figcaption>
              </figure>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="portfolio_btn text-center">
          <a href="#" class="btn btn-default btn-portfolio-bg">See More Projects</a>
        </div>
      </div><!--- END CONTAINER-FLUID -->
    </section>
    <!-- END PORTFOLIO -->

    <!-- START SPECIAL OFFER -->
    <section class="special_offer section-padding" style="background-image: url(assets/img/bg/how-it-work.jpg); background-size:cover; background-position: center center;">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="offer">
              <h3>Get your special offer today</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet. when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#">Make an appointment</a>
            </div>
          </div><!--- END COL -->
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="opening_hour">
              <h3>Monalisa Open Hours</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation.</p>
              <ul>
                <li>Monday-Friday <span>8.00AM - 5.00PM</span></li>
                <li>Saturday <span>12.00PM - 5.00PM</span></li>
                <li>Sunday <span>Closed</span></li>
              </ul>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END SPECIAL OFFER -->

    <!-- START FEATURE -->
    <section id="feature" class="our_offer section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="section-title">
            <h2>Monalisa <span>Features</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single_offer">
              <div class="single_offer_img">
                <%= image_tag("service_1.jpg", class: "img-responsive")%>
              </div>
              <h4>Stone Message</h4>
              <h5>$100</h5>
              <a class="btn btn-default btn-feature-bg" href="#">Read More</a>
            </div>
          </div><!-- END COL -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single_offer">
              <div class="single_offer_img">
                <%= image_tag("service_2.jpg", class: "img-responsive")%>
              </div>
              <h4>Body Message</h4>
              <h5>$100</h5>
              <a class="btn btn-default btn-feature-bg" href="#">Read More</a>
            </div>
          </div><!-- END COL -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single_offer">
              <div class="single_offer_img">
                <%= image_tag("service_3.jpg", class: "img-responsive")%>
              </div>
              <h4>Face Treatment</h4>
              <h5>$100</h5>
              <a class="btn btn-default btn-feature-bg" href="#">Read More</a>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END FEATURE -->

    <!-- START TEAM -->
    <section id="team" class="our_team section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="section-title wow zoomIn">
            <h2>Monalisa <span>Lovely</span> Team</h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single_team">
              <div class="img_wrap">
                <%= image_tag("team/team-1.jpg", class: "img-responsive")%>
                <div class="social_link">
                  <div class="social_table">
                    <ul class="list-inline">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3>Joe S. Sloat</h3>
              <h4>Beauty Expert</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
            <div class="single_team">
              <div class="img_wrap">
                 <%= image_tag("team/team-2.jpg", class: "img-responsive")%>
                <div class="social_link">
                  <div class="social_table">
                    <ul class="list-inline">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3>Myron J. Baxter</h3>
              <h4>Spa Expert</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
            <div class="single_team">
              <div class="img_wrap">
                 <%= image_tag("team/team-3.jpg", class: "img-responsive")%>
                <div class="social_link">
                  <div class="social_table">
                    <ul class="list-inline">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3>Keith W. Nelson</h3>
              <h4>Beauty Expert</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
            <div class="single_team">
              <div class="img_wrap">
                 <%= image_tag("team/team-4.jpg", class: "img-responsive")%>
                <div class="social_link">
                  <div class="social_table">
                    <ul class="list-inline">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3>Keith W. Nelson</h3>
              <h4>Messager</h4>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW  -->
      </div><!-- END CONTAINER  -->
    </section>
    <!-- END TEAM -->

    <!-- START HOW IT WORKS -->
    <section data-stellar-background-ratio="0.3" id="how_it_works" class="about_video" style="background-image: url(assets/img/bg/how-it-work.jpg); background-size:cover; background-position: center center;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="video-container">
              <h3>How it works</h3>
              <a data-toggle="modal" data-target="#video-modal" data-backdrop="true">
              <span class="play-video"><span class="fa fa-play"></span></span></a>
            </div>
            <!-- VIDEO POPUP -->
            <div class="modal fade video-modal" id="video-modal" role="dialog">
              <div class="modal-content">
                <iframe width="712" height="400" src="https://www.youtube.com/embed/EWan2YcodSM"></iframe>
              </div>
            </div>
            <!-- END VIDEO POPUP -->
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END HOW IT WORKS -->

    <!-- START PRICING -->
    <section id="pricing" class="pricing_table section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="section-title wow zoomIn">
            <h2>Monalisa <span>Pricing</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pricing-table">

              <div class="price color-one">
                <h3>Basic</h3>
                <span>$28</span>
                <div class="price-period">per month</div>
              </div>
              <ul class="pricing-list">
                 <li>Free Access</li>
                 <li>2 Unique Concepts</li>
                 <li>5 Revisions</li>
                 <li>Template design</li>
                 <li>Secure data</li>
                 <li>24/7 Support</li>
              </ul>
              <div class="pricing-btn">
                <button class="btn-light-bg">Get Plan</button>
              </div>
            </div><!-- END PRICING TABLE -->
          </div><!-- END COL -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pricing-table">

              <div class="price color-two">
                <h3>Standard</h3>
                <span>$48</span>
                <div class="price-period">per month</div>
              </div>
              <ul class="pricing-list">
                 <li>Free Access</li>
                 <li>2 Unique Concepts</li>
                 <li>5 Revisions</li>
                 <li>Template design</li>
                 <li>Secure data</li>
                 <li>24/7 Support</li>
              </ul>
              <div class="pricing-btn">
                <button class="btn-light-bg">Get Plan</button>
              </div>
            </div><!-- END PRICING TABLE -->
          </div><!-- END COL -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pricing-table">
              <div class="price color-one">
                <h3>Premium</h3>
                <span>$68</span>
                <div class="price-period">per month</div>
              </div>
              <ul class="pricing-list">
                 <li>Free Access</li>
                 <li>2 Unique Concepts</li>
                 <li>5 Revisions</li>
                 <li>Template design</li>
                 <li>Secure data</li>
                 <li>24/7 Support</li>
              </ul>
              <div class="pricing-btn">
                <button class="btn-light-bg">Get Plan</button>
              </div>
            </div><!-- END PRICING TABLE -->
          </div><!-- END COL  -->
        </div><!--END  ROW  -->
      </div><!-- END CONTAINER  -->
    </section>
    <!-- END PRICING -->

    <!--- START TESTIMONIAL -->
    <section class="testimonials">
            <div class="container">
                <div class="row">
          <div class="section-title text-center wow zoomIn">
            <h2>Our <span>Clients</span> Say</h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="flexslider testi-slider">
                            <ul class="slides">
                                <li>
                                    <div class="testi-slider-item">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.</p>
                                         <%= image_tag("testimonial/1.jpg")%>
                                        <h6>John Doe - <span class="colored-text">Monalisa Inc.</span></h6>
                                    </div>
                                </li><!--SINGLE SLIDE-->
                                <li>
                                    <div class="testi-slider-item">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.</p>
                                        <%= image_tag("testimonial/2.jpg")%>
                                        <h6>John Doe - <span class="colored-text">Monalisa Inc.</span></h6>
                                    </div>
                                </li><!--SINGLE SLIDE-->
                                <li>
                                    <div class="testi-slider-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.</p>
                                        <%= image_tag("testimonial/3.jpg")%>
                                        <h6>Emma Doe - <span class="colored-text">Monalisa Inc.</span></h6>
                                    </div>
                                </li><!--SINGLE SLIDE-->
                            </ul><!--- END SLIDES -->
                        </div><!--- END FLEXSLIDER -->
                    </div><!--- END CONTAINER -->
                </div><!--- END CONTAINER -->
            </div><!--- END CONTAINER -->
        </section>
    <!--- END TESTIMONIAL -->

    <!-- START BLOG -->
    <section id="blog" class="our_blog section-padding">
      <div class="container">
        <div class="row">
          <div class="section-title text-center wow zoomIn">
            <h2>Fresh <span>News</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
            <div class="single-blog">
              <div class="single-img">
                <%= image_tag("blog/blog-1.jpg", class: "img-responsive")%>
                <div class="post-date">
                  <h4>24 October, 2016</h4>
                </div>
                <div class="blog-social">
                  <h4>Share On</h4>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="single_blog_dsc">
                <h3>Title goes here</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
            <div class="single-blog">
              <div class="single-img">
                <%= image_tag("blog/blog-2.jpg", class: "img-responsive")%>
                <div class="post-date">
                  <h4>25 October, 2016</h4>
                </div>
                <div class="blog-social">
                  <h4>Share On</h4>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="single_blog_dsc">
                <h3>Title goes here</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END BLOG -->

    <!-- START COMPANY PARTNER LOGO  -->
    <div class="partner-logo section-padding">
      <div class="partner_overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="partner  wow fadeInRight">
                <a href="#"><%= image_tag("partner/1.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/2.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/3.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/4.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/5.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/6.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/1.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/2.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/3.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/4.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/5.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/6.png", alt: "image")%></a>
              </div>
            </div><!-- END COL  -->
          </div><!--END  ROW  -->
        </div><!-- END CONTAINER  -->
      </div><!-- END OVERLAY -->
    </div>
    <!-- END COMPANY PARTNER LOGO -->

    <!-- START CONTACT FORM AND CONTACT ADDRESS-->
    <section id="contact" class="contact_area section-padding">
      <div class="container">
        <div class="row">
          <div class="section-title text-center wow zoomIn">
            <h2>Get in <span>Touch</span></h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-address wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
              <div class="media">
                <div class="media-left">
                  <i class="fa fa-rocket"></i>
                </div>
                <div class="media-body text-left">
                  <h2 class="media-heading">Our Location</h2>
                  <p>3481 Melrose Place, Beverly Hills <br> CA 90210</p>
                </div>
              </div>
            </div>
            <div class="single-address wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
              <div class="media">
                <div class="media-left">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="media-body text-left">
                  <h2 class="media-heading">Call us on</h2>
                  <p>(+1) 517 397 7100 <br> (+1) 517 397 7100</p>
                </div>
              </div>
            </div>
            <div class="single-address mb-none wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
              <div class="media">
                <div class="media-left">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="media-body text-left">
                  <h2 class="media-heading">Email Address</h2>
                  <p>info@monalisa.com<br>admin@monalisa.com</p>
                </div>
              </div>
            </div>
          </div><!-- END COL -->
          <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
            <div class="contact">
              <form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
                <div class="row">
                  <div class="form-group col-md-6">
                    <input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                  </div>
                  <div class="form-group description col-md-12 mbnone">
                    <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required="required"></textarea>
                  </div>
                  <div class="col-md-12">
                    <div class="actions">
                      <input type="submit" value="Send message" name="submit" class="btn btn-lg btn-contact-bg" title="Submit Your Message!" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div><!-- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </section>
    <!-- END CONTACT FORM AND CONTACT ADDRESS -->

    <!-- START MAP -->
    <div id="map"></div>
    <!-- END MAP -->

    <!-- START FOOTER BOTTOM -->
    <footer class="footer section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12 col-sm-12 col-xs-12 wow zoomIn">
            <a href="index.html" class="footer-logo"><%= image_tag("logo.png") %></a>
            <div class="footer_social">
              <ul>
                <li><a class="footer_facebook  wow bounceInDown" data-wow-delay=".1s" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a class="footer_twitter wow bounceInDown" data-wow-delay=".2s" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="footer_google wow bounceInDown" data-wow-delay=".3s" href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="footer_linkedin wow bounceInDown" data-wow-delay=".4s" href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="footer_youtube wow bounceInDown" data-wow-delay=".5s" href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a class="footer_skype wow bounceInDown" data-wow-delay=".6s" href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
              </ul>
            </div>
            <p class="footer_copyright">Monalisa &copy; 2016 All Rights Reserved.</p>
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div><!--- END CONTAINER -->
    </footer>
    <!-- END FOOTER BOTTOM-->

