
<!-- START ABOUT US -->

    <section id="about" class="about-us section-padding" style="padding-top: 130px">

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about_img">
              <%= image_tag("about.jpg", class: "img-responsive")%>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-us-content">
              <h2>About our <span>Monalisa</span></h2>
              <div class="about-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum.</p>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END ABOUT US -->
    <!-- START COMPANY PARTNER LOGO  -->
    <div class="partner-logo section-padding">
      <div class="partner_overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="partner  wow fadeInRight">
                <a href="#"><%= image_tag("partner/1.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/2.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/3.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/4.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/5.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/6.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/1.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/2.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/3.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/4.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/5.png", alt: "image")%></a>
                <a href="#"><%= image_tag("partner/6.png", alt: "image")%></a>
              </div>
            </div><!-- END COL  -->
          </div><!--END  ROW  -->
        </div><!-- END CONTAINER  -->
      </div><!-- END OVERLAY -->
    </div>
    <!-- END COMPANY PARTNER LOGO -->
